.matrix {
  display: flex;
  flex-direction: column;
}

.matrix > .matrix-row {
  display: flex;
  justify-content: space-between;
}

.matrix > .matrix-row > .matrix-col {
  display: flex;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.125);
  min-width: 20px;
  min-height: 27px;
  font-size: 10px;
}
