.matrix {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  border-radius: 5px;
}

.matrix > .matrix-row {
  display: flex;
  justify-content: space-between;
}

.matrix > .matrix-row > .matrix-col {
  display: flex;
  padding: 5px;
  border: 1px solid #817c7c;
}
